%h3 Create a schedule

%div.row
  = render "layouts/schedule_viz"
  = render partial: "layouts/schedule_form_edit", locals: {courses: @courses, schedule: @schedule}

/ enable bootstrap tooltips
:javascript
  $('[data-toggle="tooltip"]').tooltip();
