!!!
%html{:lang => "en"}
  %head
    -# page title
    %title Schedulizer

    -# meta tags
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}

    -# stylesheets
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true

    -# scripts (most should be placed at the bottom for efficiency's sake!
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    = csrf_meta_tags
  %body
    %div.container
      = yield

    -# more scripts
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
    
